<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <% console.log('Hola mundo')%>
    <% include my_partial %>
    <p>El lugar en donde podrá crear sus propios juegos!</p>
    <a href="/quizes/question"> Comienze a juagar</a>
  </body>
</html>
