<label for="pregunta">Pregunta</label>
<input type="text" name="quiz[pregunta]" value="<%= quiz.pregunta%>">
<label for="respuesta">Respuesta</label>
<input type="text" name="quiz[respuesta]" value="<%= quiz.respuesta%>">
<input type="submit" value="Guardar">
