<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
  <h2>El juego de las preguntas</h2>
  <p> <%= respuesta %></p>
  <a href="/quizes/question"> Intentar de nuevo</a>
</body>
</html>
