<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz</title>
</head>
<body>
  <h2>El juego de las preguntas</h2>
  <form method='get' action="quizes/answer">
    <label for="respuesta"> <% pregunta %></label>
    <input type="text" name="respuesta" placeholder='Responda aquí'>
    <input type="submit">
  </form>

  <ul>
    <li>
      <figure>
        <img src="/public/emanuel.jpg" alt="Emanuel Alarcón">
        <figcaption>Emanuel Alarcón</figcaption>
      </figure>

      <video src="http://www.w3schools.com/html/mov_bbb.mp4"></video>
    </li>
  </ul>
</body>
</html>
